<div class="container ">
    <h3>Detalle del Producto</h3>
    <br>
    <div class="card mx-auto p-4" style="width: 700px;">
        <h5>{{ person.title }}</h5>
        <div class="body-card">
            <div class="img-card">
                <img src="{{person.image}}" alt="" class="card-img-top">
            </div>
            <div class="details">
                <h5>Nombre : </h5> <span>{{person.title}}</span>
                <h5>Categoria : </h5> <span>{{person.category}}</span>
                <h5>Precio : </h5> <span>{{person.price}}</h5>
                <h5>Descripcion : </h5> <span>{{person.description}}</span>
            </div>
        </div>
        <div class="footer-card mt-3">
            <a href="/api">Lista de Productos</a>
        </div>
    </div>
</div>