<div class="container">
    <br>
        <table id="myTable">
            <caption>Productos</caption>
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Precio</th>
                    <th>Descripcion</th>
                    <th>Imagen</th>
                    <th></th>
                </tr>
            </thead>
                <tbody>
            {{#each characters}}
                <tr>
                    <td>{{title}}</td>
                    <td>{{price}}</td>
                    <td>{{description}}</td>
                    <td>
                        <img src="{{image}}" alt="">
                    </td>
                    <td>
                        <a href="api/game_person/{{id}}"><span class="material-symbols-outlined">visibility</span></a>
                    </td>
                </tr>   
            {{/each}}
                </tbody>
        </table>
    <a href="/">Volver al inicio</a>
  </div>